<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("TweetApp", "/posts/index") %>
        <% else %>
          <%= link_to("TweetApp", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">

        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
            <!-- コードを追加し、ログイン中のユーザーのidを表示してください -->
          </li>


          <li>
            <%= link_to("Index", "/posts/index") %>
          </li>
          <li>
            <%= link_to("New Posts", "/posts/new") %>
          </li>
          <li>
            <%= link_to("User", "/users/index") %>
          </li>
          <li>
            <!-- ログアウト用のリンクを追加してください -->
            <%= link_to("Logout", "/logout", {method: :post}) %>
          </li>

          <% else %>

          <li>
            <%= link_to("TweetApp", "/about") %>
          </li>
          <li>
            <%= link_to("Register", "/signup") %>
          </li>
          <li>
            <%= link_to("Login", "/login") %>
          </li>

          <% end %>
      </ul>
    </header>
    <!-- flash[:notice]に代入されたメッセージを表示してください -->
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
